/* -------- start search results -------- */
ul.fruit-list{
	padding: 0;
	list-style: none;
}
li.fruit-item{
	overflow: auto;
	margin: 1em 0;
}
.scientificName{ font-weight: 400;}
@media only screen and (min-width:40.063em){
	.fruitPhoto{
		float: left;
		margin: 0 1em 1em 0;
		width: 7.75em;
		height: 5.166em;
		overflow: hidden;
	}
}
@media only screen and (min-width:64.063em){

}
/* -------- end search results -------- */
/* -------- start detail page -------- */
.relatedToDib{ clear: both;}
.relatedToDib ul, .relatedToDib ul li{ list-style: none; margin: 0;}
.relatedDamage ul{ list-style: none; margin: 0;}
.fruit-detail-gallery{
	overflow: hidden;
	margin: 1em 0;
}
.thumbnail-gallery{
	list-style: none;
	padding: 0;
}
.thumbnail-gallery li{
	float: left;
	height: 65px;
	margin: .25em;
	overflow: hidden;
	max-width: 100px;
}
.thumbnail-gallery li:odd{
	margin-left: 0;
}
@media only screen and (min-width:22.4375em){
	.thumbnail-gallery li:odd{
		margin: .25em;
	}
	.thumbnail-gallery li:nth-child(3n+1){
		margin-left: 0;
	}
}
@media only screen and (min-width:29.1875em){
	.thumbnail-gallery li::nth-child(3n+1){
		margin: .25em;
	}
	.thumbnail-gallery li:nth-child(4n+1){
		margin-left: 0;
	}
	.similarPicture{
		float: left;
		margin: 0 1em 1em 0;
	}
}
.thumbnail-gallery li img:hover{
	cursor: pointer;
}
#galleryCaption{
	font-size: .6875em;
	font-weight:bold;
}
#galleryCredit{
	float: right;
    font-size: .6875em;
    margin: .5em 0 .5em .5em;
}

@media only screen and (min-width:44.9375em){
	.fruit-detail-gallery{
		float: right;
		margin:0 0 1em 1em;
		max-width: 31.25em;
	}
}
/* -------- end detail page -------- */
