/* -------- start search form -------- */
#plant-search fieldset{
	border:none;
}
#plant-search legend{
	font-weight: 700;
	font-size: 1.125em;
	margin:0;
	padding: 0;
}
#plant-search label:hover{
	cursor: pointer;
}
#plant-search select{
	width: auto;
}
/* -------- end search form -------- */

/* -------- start search results -------- */
ul.plant-list{
	padding: 0;
	list-style: none;
}
li.plant-item{
	overflow: auto;
	margin: 1em 0;
}
.scientificName{ font-weight: 400;}
@media only screen and (min-width:40.063em){
	.plantPhoto{
		float: left;
		margin: 0 1em 1em 0;
		width: 7.75em;
		height: 5.166em;
	}
}
@media only screen and (min-width:64.063em){

}
/* -------- end search results -------- */

/* -------- start detail page -------- */
.plant-detail-gallery{
	overflow: hidden;
	margin: 1em 0;
}
.thumbnail-gallery{
	list-style: none;
	padding: 0;
}
.thumbnail-gallery li{
	float: left;
	height: 65px;
	margin: .25em;
}
.thumbnail-gallery li:odd{
	margin-left: 0;
}
@media only screen and (min-width:22.4375em){
	.thumbnail-gallery li:odd{
		margin: .25em;
	}
	.thumbnail-gallery li:nth-child(3n+1){
		margin-left: 0;
	}
}
@media only screen and (min-width:29.1875em){
	.thumbnail-gallery li::nth-child(3n+1){
		margin: .25em;
	}
	.thumbnail-gallery li:nth-child(4n+1){
		margin-left: 0;
	}
}
.thumbnail-gallery li img:hover{
	cursor: pointer;
}
#galleryCaption{
	font-size: .8125em;
}
#photo-credit{
	float: right;
    font-size: .6875em;
    margin-left: .5em;
}
ul.categories{
	list-style: none;
	padding: 0;
	margin-left: 0;
	overflow: auto;
}
ul.categories ul{
	display: inline-block;
	margin: 0;
}
ul.categories ul li{
	display: inline-block;
}
@media only screen and (min-width:44.9375em){
	.plant-detail-gallery{
		float: right;
		margin:0 0 1em 1em;
		max-width: 31.25em;
	}
}
/* -------- end detail page -------- */
